/* ---------- Fonts ----------*/
@font-face {
  font-family: "Sunflower-Bold";
  src: url("/asset/font/Sunflower-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Light";
  src: url("/asset/font/Sunflower-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Sunflower-Medium";
  src: url("/asset/font/Sunflower-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal-ExtraLight";
  src: url("/asset/font/Tajawal-ExtraLight.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal-Light";
  src: url("/asset/font/Tajawal-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
/*---------- Mixin ----------*/
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- Header ----------*/
header {
  background-color: black;
  width: 100%;
  height: 50px;
  position: fixed;
  @include flex-center;

  .objet {
    height: 100%;
    width: 100%;
    left: 60px;
    @include flex-center;
  }
  .objet__logo {
    fill: white;
    width: auto;
    height: 30px;
    position: absolute;
    left: 60px;
    cursor: pointer;
  }
  .objet__menu {
    width: 550px;
  }
  .objet__menu--title {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    @include flex-between;
    font-family: "Sunflower-Bold";
  }

  .objet__menu--title li:hover {
    color: #b4a77e;
    cursor: pointer;
  }

  .objet__emote {
    width: 80px;
    height: auto;
    @include flex-between;
    position: absolute;
    right: 60px;
  }
  .objet__emote g:hover {
    stroke: #b4a77e;
    cursor: pointer;
  }
  .objet__emote--profil {
    height: 30px;
    width: auto;
  }

  .objet__emote--panier {
    height: 38px;
    width: auto;
  }
}
/*---------- Accueil ----------*/
.accueil {
  width: auto;
  height: 703px;
  @include flex-center;
  background-image: url("/asset/img/fond.png");
  background-repeat: no-repeat;

  .accueil__bloc {
    position: absolute;
    left: 200px;
  }

  .accueil__bloc--texte {
    color: white;

    h1 {
      font-family: "SunFlower-Bold";
      text-transform: uppercase;
      font-size: 48px;
      line-height: 60px;
    }
    h2 {
      font-family: "SunFlower-Light";
      font-size: 23px;
      text-transform: uppercase;
      opacity: 50%;
      padding-top: 50px;
    }
    h3 {
      font-family: "Tajawal-Light";
      font-size: 20px;
      line-height: 25px;
      padding-bottom: 35px;
    }
  }
  .accueil__bloc button {
    background-color: #f2f2f20e;
    color: #b4a77e;
    border: 4px solid #b4a77e;
    border-radius: 50px;
    font-family: "Sunflower-Medium";
    font-size: 20px;
    outline: none;
    height: 45px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  .accueil__macaron {
    position: absolute;
    right: 200px;
    height: 300px;
    width: 620px;
  }
  .accueil__macaron--img {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 50px;
    height: 190px;
    width: auto;
  }
  .accueil__macaron--circle1 {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 25px;
    background-color: #61523a;
  }
  .accueil__macaron--circle2 {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #293837;
    opacity: 80%;
  }
  .accueil__macaron--title {
    color: #f4f4f2;
    opacity: 15%;
    font-family: "Tajawal-ExtraLight";
    font-size: 120px;
    text-align: right;
    line-height: 80px;
    z-index: 2;
    position: absolute;
    bottom: 60px;
    right: 200px;
  }
  .accueil__logo {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 120px;
  }
  .accueil__logo--nespresso {
    height: 20px;
    width: auto;
    fill: white;
  }
  .accueil__logo--ld {
    height: 30px;
    width: auto;
    fill: #a39161;
  }
}
